<h1>Welcome!</h1>
<div class='p-3 bg-dark text-light'>Hello</div>
<div class = 'm-3 centered'>
  <% @sentence.split.each do |word| %>
    <% word.split('').each do |letter| %>
      <%= render partial: 'puzzle_letter', locals: {letter: letter, opened_letters: @opened_letters} %>
    <% end %>
    <br>
  <% end %>
</div>
<%= form_with url: root_path, method: :get do |form| %>
  <%= form.label :guess, "Your guess:" %>
  <%= form.text_field :guess, maxlength: 1 %>
  <%= form.submit "Submit" %>
<% end %>