<button class="mb-3 btn btn-danger btn-sm modern-btn" onClick="window.location.reload();">اعد التحميل <i class="bi bi-arrow-repeat"></i> </button>
<div class="row d-flex justify-content-center text-center">
  <h1><%= (round.order + 1).ordinalize %> Round</h1>
  <h2><%= get_username(player.email) %>'s Turn</h2>
  <div class="col-md-12 d-none d-sm-none d-md-none d-lg-block d-xl-block">
    <hr>
    <div class = 'display-4 rounded text-dark'>
      <%= topic %>
    </div>
    <div dir='rtl' class = 'm-3 centered'>
      <% sentence.split.each do |word| %>
        <% word.split('').each do |letter| %>
          <%= render partial: "games/puzzle_letter", locals: {letter: letter, opened_letters: opened_letters} %>
        <% end %>
        <br>
      <% end %>
    </div>
    <hr>
  </div>
  <div>
    <%= form_with url: guess_game_path(game.id), method: :post do |form| %>
      <%= form.hidden_field :spin_result, id: "spin_result_dead", readonly: true %>
      <%= button_tag style: "display:none;", id:"guess_button" do %>
      <% end %>
    <% end %>
    <%= form_with url: guess_game_path(game.id), method: :post, class: "form-horizontal d-lg-none d-xl-none d-xl-block" do |form| %>
      <div class="row justify-content-center m-3" dir="rtl">
        <div class="col-sm-4">
          <%= form.hidden_field :spin_result, id: "spin_result", readonly: true %>
          <%= form.text_field :guess, id: "guess_field", maxlength: 1, placeholder: "دور اولا", class: "form-control rounded-pill border-0 bg-light text-center mb-3", required: true, disabled: true %>
        </div>
        <div class="col-sm-5">
          <%= button_tag class: "btn btn-primary modern-btn-sm col" do %>
            احزر حرف
          <% end %>
        </div>
      </div>
    <% end %>
    <%= form_with url: guess_game_path(game.id), method: :post, class: "form-horizontal d-lg-none d-xl-none d-xl-block" do |form| %>
      <div class="row justify-content-center m-3" dir="rtl">
        <div class="col-sm-7">
          <%= form.text_field :full_guess, placeholder: "ادخل الجملة", class: "form-control rounded-pill border-0 bg-light text-center mb-3", required: true %>
        </div>
        <div class="col-sm-5">
          <%= button_tag class: "btn btn-secondary modern-btn-sm col" do %>
            احزر الجملة
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4  d-none d-sm-none d-md-none d-lg-block d-xl-block" dir="ltr">
    <div class = "h5">فلوس اللاعبين:
      <% players_money.each do |player_money| %>
        <br>
        <h4><i class="bi-caret-right-fill"></i> <%= player_money %> </h4>
      <% end %>
    </div>
  </div>
</div>