<%= turbo_stream_from @game, :game_players %>

<h2>Hello <%= @user %> </h2>

<p>This is game <%= @game.id %> with the following players:
  <ul>
    <%= tag.div id: "#{dom_id(@game)}_game_players" do %>
      <%= render @game.game_players %>
    <% end %>
  </ul>
</p>

<%= button_to "Start Game", start_game_path(@game), method: :patch %>