<%= turbo_stream_from "#{@game.id}-players" %>

<h2>Hello <%= @user %> </h2>

<p>This is game <%= @game.id %> with the following players:
  <ul>
    <%= turbo_frame_tag "#{@game.id}-players" do %>
      <%= render @game_players %>
    <% end %>
  </ul>
</p>

<%= button_to "Start Game", start_game_path(@game), method: :patch %>