<ol class="breadcrumb">
  <li class="breadcrumb-item active mr-auto">Games</li>
</ol>

<%= turbo_stream_from 'games' %>

<%= turbo_frame_tag 'game_form' do %>
  <%= render partial: 'form' %>
<% end %>

<div class="card-columns">  
  <%= turbo_frame_tag 'games' do %>
    <%= render @games %>
  <% end %>
</div>
