<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Games", games_path %></li>
  <li class="breadcrumb-item active mr-auto"><%= @game.id %></li> 
</ol>
<div class="card">
  <ul class="list-group list-group-flush">
  </ul>
  <h2>Hello <%= @user %> </h2>
  <p>This is game <%= @game.id %> with the following players:
    <ul>
      <% @players.each do |player| %>
        <li> <%= player %> </li>
      <% end %>
    </ul>
  </p>
</div>
